[submodule ".registry"]
	path = .registry
	url = https://github.com/mrbpedro/mrbpedro.r-universe.dev
	branch = HEAD
[submodule "incomeLato"]
	path = incomeLato
	url = https://github.com/mrbpedro/incomeLato
